* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.page {
  width: 1024px;
  margin: auto;
}

main {
  width: 626px;
  text-align: center;
  
  margin: 64px auto;
}

main img {
  margin-bottom: 32px;
}

main h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #3F3D56;

  margin: 16px;
}

main h2 span {
  font-weight: 700;
  color: #EE24FF;
}

main p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #828282;
}

main p:nth-child(4) {
  margin-top: 32px;
  line-height: 20px;
}

main p span {
  font-weight: 700;
}

main p strong {
  color: #3F3D56;
}

footer {
  text-align: center;
}

footer .line {
  width: 391px;
  border: 1px solid #ECEFF2;

  margin: 0 auto 16px;
}

footer a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  color: #3F3D56;
  text-decoration: none;
}

footer a:nth-child(2) {
  margin-right: 42px;
}
footer a:nth-child(3) {
  margin-right: 42px;
}

.wave {
  position: absolute;
  width: 100%;
  margin-top: 40px;
}
